@charset "utf-8";
/* CSS Document */

#indexHeader{
	margin:10px ;
	background:#333; 
	color:#FFF; 
	border:inset 2px #333; 
	text-align:center;
}
p#campus{
	margin-bottom:100px;
}
#loginBox{
	border:groove 2px grey; 
	padding:10px;
}
#login{
	border-bottom:groove 2px grey; 
}
